<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}

    <title>Impresiones 3D</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        // Función para cargar productos vía AJAX
        function loadProducts(page) {
            $.ajax({
                url: '/productos',
                type: 'GET',
                data: {
                    page: page
                },
                success: function(data) {
                    // Reemplazar el contenido del grid con los productos recibidos
                    $('#product-grid').html(data);
                },
                error: function() {
                    alert('Error al cargar productos.');
                }
            });
        }

        // Al hacer clic en un enlace de paginación, cargar los productos vía AJAX
        $(document).on('click', '.pagination a', function(e) {
            e.preventDefault();
            var page = $(this).data('page');
            loadProducts(page);
        });

        // Cargar la primera página de productos cuando la página se carga inicialmente
        $(document).ready(function() {
            loadProducts(1);
        });
    </script>


</head>
<body>
{% include 'menus.html' %}
<div class="contenidoPrincipal">
    <h1  class="tituloPrincipal">Catálogo de Productos</h1>
    <div class="container">


        <div class="div20">
            <h1 style="font-size: 20px; color: white; margin-bottom: 10px">Categorias</h1>
            <div class="menuBotones">
                <button>Anime</button>
                <button>Caricaturas </button>
                <button>Services</button>
                <button>Contact</button>
             </div>
        </div>

        <div class="div80">
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Buscar...">
                <button class="search-button">Buscar</button>
            </div>


            <div id="product-grid" class="grid-container">
            <!-- Aquí se actualizarán los productos con AJAX -->
            </div>

            <div class="pagination">
            <!-- Enlaces de paginación (se pueden personalizar o generar dinámicamente) -->
                <a href="#" class="page-link" data-page="1">1</a>
                <a href="#" class="page-link" data-page="2">2</a>
                <a href="#" class="page-link" data-page="3">3</a>
            <!-- Generar dinámicamente más enlaces según sea necesario -->
            </div>


        </div>





        </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
